# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\travail\projet-jenkins-helloworld\jenkins-helloworld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
